* {
  box-sizing: border-box;
}

.bottom {
  display: flex;
  width: 100%;
}

#icon1 {
  color: white;
}

.bottom-right {
  flex-grow: 1;
  /* border: 1px solid grey; */
  border-right: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side {
  width: 200px;
}

.settings {
  width: 100%;
  /* border: 12px solid brown; */
}

.settings-page {
  /* border: 2px solid blue; */
  padding: 15px;
  padding-left: 55px;
}

table {
  width: 700px;
  /* height: 200px; */
  border-collapse: collapse;
}

@media screen and (min-width: 577px) {
  table {
    width: 400px;
    font-size: 10px;
  }

  .settings-page {
    padding: 0px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 700px) {
  table {
    width: 500px;
    font-size: 12px;
  }
}

@media screen and (min-width: 800px) {
  table {
    width: 750px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  table {
    width: 350px;
    font-size: 10px;
  }

  .settings-page {
    padding: 0px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 450px) {
  table {
    width: 270px;
    font-size: 9px;
  }
}

@media screen and (max-width: 380px) {
  table {
    width: 180px;
    font-size: 9px;
  }

  .settings-page {
    padding: 0px;
    margin: 15px;
  }
}

@media screen and (max-width: 240px) {
  table {
    width: 140px;
    font-size: 7spx;
  }
}

th {
  background-color: rgb(240, 240, 187);
  border-bottom: 1px solid black;
  border: 2px solid black;
}

td {
  text-align: center;
  background-color: rgb(247, 222, 214);
  border: 2px solid black;
}

.table-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  /* border: 2px solid red; */
}

.modal-container {
  /* border: 2px solid red; */
  background-color: rgb(252, 244, 235);
}

.role {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.email {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.popup-container {
  display: flex;
  border: 2px solid black;
  width: 550px;
  height: 320px;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: white;
  padding: 10px;
  width: 40%;
  background-color: rgba(158, 58, 0, 0.774);
}

.right-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  margin-top: 15px;
}

.onAdd-btn {
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 55px;
  margin: 10px;
}

.user-head {
  font-size: 16px;
}

.input-head {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.email-input {
  width: 240px;
  height: 25px;
}

.select-menu {
  width: 140px;
  padding: 2px 0px;
  font-size: 10px;
  height: 25px;
  font-weight: bold;
}

.cancel-button {
  width: 100px;
  color: white;
  margin: 10px;
  height: 25px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .email,
  .role {
    margin: 4px, 0px;
  }

  .popup-container {
    width: 250px;
    height: 250px;
  }

  .select-menu {
    width: 70px;
    padding: 2px 0px;
    font-size: 10px;
    height: 15px;
    font-weight: bold;
  }

  .cancel-button {
    width: 50px;
    margin: 5px;
    height: 15px;
    border: none;
    font-size: 10px;
  }

  .button-container {
    display: flex;
    margin: 6px;
  }

  .logo {
    width: 150px;
    border: 2px solid green;
    height: 150px;
  }

  .email-input {
    width: 80%;
    height: 15px;
  }

  .left-container {
    font-size: 8px;
  }
}
/* 
.settings-page {
  display: flex;
  flex-direction: column;
} */

.add-user {
  margin: 20px 0px 25px 7px;
  height: 25px;
  width: 120px;
  padding: 3px;
  color: white;
  border-radius: 15px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(122, 161, 54);
}

.add-user:hover {
  background-color: rgb(43, 80, 7);
  color: rgba(252, 255, 66, 0.815);
}

.cancel {
  background-color: rgb(240, 154, 42);
}

.add {
  background-color: rgb(114, 148, 55);
}

@media screen and (max-width: 576px) {
  .add-user {
    height: 20px;
    width: 80px;
    margin: 10px 0px 15px 7px;
    font-size: 8px;
    background-color: rgb(122, 161, 54);
  }

  .settings-page {
    padding: 0px;
    margin-left: 15px;
  }
}

.delete-container {
  display: flex;
  width: 10%;
}

.delete-button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.delete-img {
  background: transparent;
  width: 20px;
  height: 20px;
  align-self: center;
  border: none;
  outline: none;
}

.pagination {
  display: flex;
  width: 100%;
  font-size: 9px;
  font-weight: bold;
  cursor: pointer;
  /* border: 2px solid blue; */
  justify-content: flex-end;
}

.each {
  margin-right: 10px;
}

.each:hover {
  color: rgba(255, 7, 7, 0.795);
}
